.content-holder {
    height: 90%;  
    display: grid;
    grid-template-rows: 10% 60% 20%;
    padding: 20px;
}

.content-holder .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkcyan;
    font-size: medium;
}
.content {
    display: grid;
    grid-template-rows: 20% 20% 50%;
    grid-row-gap: 15px;
    padding-top: 10px;
}

.content > * {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}
.content input {
    border-radius: 5px;
    border: none;
    width: 70vw;
    padding: 10px;
    background-color: lightgray;
}
.input {
    height: 20px;
}
.input-comment {
    height: 100px;
    
}
.submit {
    /* display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    border: 1px solid;
    /* padding-top: 10px; */
    
}
.submit > * {
    border: 1px solid blue;
}

:invalid + .error-name { 
    display: block;
    color: red;
    font-size: small; 
}

:valid + .error-name {
    display: none;
}
:invalid + .error-address { 
    display: block;
    color: red;
    font-size: small; 
}

:valid + .error-address {
    display: none;
}
:invalid + .error-comment { 
    display: block;
    color: red;
    font-size: small; 
}

:valid + .error-comment {
    display: none;
}
.activeBtn {
    padding: 20px;
    /* width: 40vw; */
    font-size: large;
    background-color: green;
    border-radius: 5px;
    border: none;
    color: white;
}
.inactiveBtn{
    padding: 20px;
    /* width: 40vw; */
    font-size: large;
    border-radius: 5px;
    border: none;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

@media(min-width: 1025px){
    .content-holder .title {
        font-size: x-large;
    }
    .content-holder {
        justify-content: center;
    }
    .content {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 5px rgba(0,139,139, 1);
        border-radius: 5px;
        width: 80vw;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .content > div {
        justify-content: flex-start;
        display: flex;
        flex-direction: row;
        align-items: center;

        
    }

    .content > div > * {
        margin:10px;
    }
    .content input {
        width: 50%;   
    }
    .content .error-msg {
        width: 50%;
        text-align: left;
    }
    .submit > button {
        /* width: 15vw; */
    }
}