.content-holder {
    height: 90%;
    
    display: grid;
    grid-template-rows: 10% 70% 10%;
    padding: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content > * {
    display: block;
    margin: 20px;
    width: 70vw;
    padding: 10px;
    background-color: lightgray;
}
.input-address {
    height: 40px;
}
.input-comment {
    height: 100px;
}
.submit {
    text-align: center;
    
}
.submit > button {
    padding: 20px;
    width: 40vw;
    font-size: large;
    background-color: green;
    border-radius: 5px;
    border: none;
}