.chosed-city {
   padding: 20px;
    height: 100%;
    
}

.activity-box {
    border: 1px solid green ;
    background-color: lightblue;
    margin: 5px;
    position: relative;
    max-width: 70vw;
}

.img-holder {
    width: 70vw;
    height: 100%;
}

 .activity-holder > div {
     display: flex;
     flex-direction: row;
     /* width: 70vw; */
     flex-wrap: wrap;
     padding-left:5px;
 }

 .activity-holder {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
     overflow-y: scroll;
     height: 60%;
     
 }
.activities-scroll {
    overflow-x: scroll;
}
.activities-holder {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.city-name {
    height: 7%;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
.city-info {
    height: 42%;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    padding: 5px;
}
.info-title {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
   
}

.add-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.addIcon-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    
}
.iconForItem-holder > img {
    width: 30px;
    height: 30px;
}
.iconForItem-holder {
    position: absolute;
    bottom: 0;
    background: rgb(255, 255, 255); /* Fallback color */
    background: rgba(255, 255, 255, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    
    
}
.title {
    font-weight: bold;
    margin-right: 5px;
}

.backImg {
    width: 100%;
    height: 100%;
    
}
input {
    padding: 10px;
    margin-left: 20px;
    border: none;
    background-color: lightgray;
    border-radius: 5px;
}
.info-title > div {
    font-size: large;
    font-weight: bold;
}

