.account-container {
    height: 98%;
    display: grid;
    grid-template-rows: 10% 10% 60% 20%;
}
.header {
    background-color: darkcyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.app-name {
    font-family: "Cursive",Brush Script MT;
    color: white;
    font-size: xx-large;
    
}
.back-icon {
    width: 30px;
    height: 30px;
}
.greeting {
    justify-content: left;
    padding: 10px;
    color: darkcyan;
    font-size: larger;
}

.form {
    border: 1px solid darkcyan;
    border-radius: 5px;
    margin: 10px;
    display: grid;
    grid-template-rows: 30% 40% 30%;
}
.form > div {
    padding: 10px;
    padding-left: 20px;
}
.form input {
    padding: 10px;
    margin-left: 0px;
    width: 70%;
}
/* .error {
  color: red;
  font-size: small;
} */

.label {
    margin-bottom: 5px;
    font-size: small;
    font-weight: bold;
}
.availibility {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 10px; 
    font-size: x-small;
}
.submit-btn {
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    background-color: green;
    border: none;
    color: white;
    
}
.submit-holder {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
}
.submit-holder > div {
    display: flex;
    justify-content: center;
    font-size: larger;
}
.login {
    font-weight: bold;
    color: green;
    margin-top: 10px;
}
:invalid + .username-error { 
    display: block;
    color: red;
    font-size: small; 
}

:valid + .username-error {
    display: none;
}

:invalid + .firstname-error { 
    display: block;
    color: red; 
    font-size: small;
}

:valid + .firstname-error {
    display: none;
}

:invalid + .password-error { 
    display: block;
    color: red; 
    font-size: small;
}

:valid + .password-error {
    display: none;
}
.disabled{
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    border: none;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

@media(min-width: 1025px){
    .input-and-message {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .input-and-message > input {
        width: 30%;
        padding: 15px;
        margin-right: 20px;
    }
    
    .validation-error {
        display: flex;
        align-items: center;
        font-size: 1em;
    }
    .form {
        margin-left: 50px;
        margin-right: 50px;
    }
     
    .greeting {
        
        padding-left: 50px;
    }
    .submit-btn {
        width: 20%;
    }
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .availibility {
        width: 200px;
        padding: 7px;
        border-radius: 5px;
        border: none;
        margin-top: 10px; 
        font-size: small;
    }
    .disabled {
        width:20%;
        
    }
   
}