.activity-box {
    border: 1px solid green ;
    margin: 5px;
    position: relative;
    max-width: 70vw;
    height: 99%;
}

.img-holder {
    width: 70vw;
    height: 100%;
}

 .activity-holder > div {
     /* display: flex;
     flex-direction: row; */
     /* width: 70vw; */
     /* flex-wrap: wrap; */
     padding-left:5px;
 }

 .activity-holder {
    position: absolute;
    top: 0;
    background: rgb(255, 255, 255); 
    background: rgba(255, 255, 255, 0.5);
    /* background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);  */
    color: black;
    width: 100%;
     overflow-y: scroll;
     height: 80%;
 }

.iconForItem-holder  img {
    width: 30px;
    height: 30px;
}
.iconForItem-holder {
    position: absolute;
    bottom: 0;
    /* background: rgb(255, 255, 255);  */
    background:rgb(198,198,198,0.5); 
    color: #f1f1f1;
    width: 100%;
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 18%;
    
}
.activity-holder > div {
    margin-left: 5px;
}
.delete-comment {
    display: flex;
    flex-direction: row;
}
.activity-holder .title {
    margin-top: 10px;
    font-size: small;
    font-weight: bold;
    margin-right: 5px;
}
.item-info-name {
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
}
.item-info {
    font-size: small;
    margin-top: 2px;
}
.backImg {
    width: 100%;
    height: 100%;
    
}
.like-icon {
    padding-left: 5px;
} 
.like {
    font-weight: bold;
    color: black;
    width: 30Px;
    height: 30px;
}
.liked {
    font-weight: bold;
    color: darkgreen;
    width: 30px;
    height: 30px;
}
.user {
    font-weight: bold;
    background-color: #B3F1F5;
    border: 1px solid;
    border: none;
    border-radius: 50px;
    padding: 5px;
    /* border-top-right-radius: 0%; */
    color: black;
    /* width: 40px; */
    height: 30px;
    justify-content: center;
    font-size: small;
}
.comment-holder {
    padding: 0px;
    
}
.comment-holder > div {
     display: flex;
     flex-direction: row;
    padding: 5px;
    padding-left: 0px;
}
.user-comment > .comment-content {
    margin-left: 5px;
    font-size:small;
    display: flex;
    align-items: center;

}
.new-comment {
    width: 100%;
    display: flex;
   align-items: center;
   padding: 5px;
   border: 1px solid;
}
.new-comment textarea {
    background-color:  #B3F1F5;
    border-radius: 5px;
}

.send-commentbtn {
   background-color:  #B3F1F5;
   border-radius: 5px;
   border: none;
   padding: 5px;
   margin-left: 5px;
}
@media(min-width: 1025px){
    .activity-box {
        /* border: 1px solid orangered; */
        margin: 5px;
        position: relative;
        width: 95%;
        height: 49%;
        display: flex;
        /* justify-content: center;
        align-items: ; */
    }
    .img-holder {
        width: 100%;
        height: 100%;
    }
    .activity-holder .title {
        margin-top: 15px;
        font-size: medium;
        font-weight: bold;
        margin-right: 5px;
    }
    .item-info-name {
        font-size: x-large;
        font-weight: bold;
    }
    .item-info {
        font-size: medium;
        margin-top: 2px;
    }
   
}