.desktop-content {
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-left: 10px;
   padding-right: 10px;
}

.desktop-links {
    display: flex;
    flex-direction: row;
    
}
.desktop-links  h2 {
    font-size: large;
    padding-right: 40px;
    color: white;
}
.appname-desktop {
    font-family: "Cursive",Brush Script MT;
    color: white;
    font-size: xx-large;
    text-align: right;
    font-weight: bold;
}