.home-icon {
    width: 30px;
    height: 30px;
}
.header-holder {
    height: 10vh;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #00A3A3;
    display: flex;
    align-items: center;
}

.mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app-name {
    font-family: "Cursive",Brush Script MT;
    color: white;
    font-size: xx-large;
    
}
.desktop {
    display: none;
}

@media(min-width: 1025px){
    .mobile {
        display: none;
    }
    .header-holder {
        display: flex;
        align-items: center;
        
    }
    
    .desktop {
        display: block;
        width: 100vw;
    }
   
}