.login-container {
    height: 90%;
   display: grid;
   grid-template-rows: 20% 40% 10% 10% 20%;
}
.login-container > div { 
     display: flex;
}
.applogin-name {
    justify-content: center;
    align-items: center;
    font-family: "Cursive",Brush Script MT;
    font-size: larger;
    color: darkcyan;
}
.userinfo-holder {
    justify-content: center;
    align-items: center;
}
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}
.user-pass-container {
    padding: 20px;
    width: 50vw;
    margin: 20px;
    border: 1px solid lightslategray;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-pass-container > img {
    width: 30px;
    height: 30px;
    background-color: white;
}
.user-pass-container > input {
    border: none;
}

.loginbtn-holder  {
    justify-content: center;
    align-items: center;
}

.login-btn {
    width: 30%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    font-size: large;
}
.create-account {
    justify-content: center;
    align-items: center;
    font-size: large;
    color: darkred;
    font-weight: bold;
}
.errormsg {
    color: red;
    justify-content: center;
}


@media(min-width: 1025px){
    .login-container {
        margin: 50px;
        height: 80%;
        border: 1px solid;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .app-name {
        font-size: xx-large;
    }
    
	.user-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        width: 80%;
    }
    .user-pass-container {
        padding: 20px;
        width: 30vw;
        margin: 0px;
    }
    
    .login-btn {
        width: 20%;
        border-radius: 5px;
        padding: 10px;
        border: none;
        background-color: green;
    }
    
}