.login-container {
    height: 90%;
   /* border: 1px solid; */
   display: grid;
   grid-template-rows: 60% 20% 30%;
}
.login-container > div {
    /* border: 1px solid; */
    display: flex;
}
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-info > input {
    padding: 20px;
    width: 50vw;
    margin: 20px;
}
.loginbtn-holder  {
   
    justify-content: center;
}
.login-btn {
    width: 30%;
    height: 30%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: green;
}
.create-account {
    justify-content: center;
    font-size: large;
    color: darkred;
    font-weight: bold;
    /* align-items: center; */
}