.travel-container {
    padding: 20px;
    height: 100%;
   
}
.travel-container {
    display: grid;
    grid-template-rows: 10% 5% 10% 50% 20%;
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose-alternative {
    
    font-size: large;
}
.search-input-h {
   
    display: flex;
    align-items: center;
}
.search-input {
    padding: 10px;
    
    border: none;
    background-color: lightgray;
    border-radius: 5px;
}

.cities {
    overflow-y: scroll;
    background: #B3F1F5; 
    
}
.city-list {
    padding: 10px;
    

}
.cityName:hover{
    cursor: pointer;
}
.city-list:nth-child(odd) {
  background-color: lightgray;
}
.addBtn-container {
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-addCity{
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
}
.add-myCity {
    padding: 10px;
    background-color: green;
    border-radius: 5px;
    border: none;
}
.addBtn {
    padding: 10px;
    border-radius: 5px;
    border: none;
}